<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Update Post</title>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About Us</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <h3>Update Post</h3>
    <form action="/update-post/<%= postId %>" method="post">
      <input type="hidden" name="id" value="<%= postId %>" />
      <div>
        <label for="title">Title</label><br />
        <input type="text" name="title" value="<%= post.title %>" />
      </div>
      <div>
        <label for="content">Content</label><br />
        <textarea cols="30" rows="4" name="content">
<%= post.content %></textarea
        >
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
